
@{
    ViewBag.Title = "TicketHistoryDetail";
}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> LỊCH SỬ ĐĂNG NHẬP</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">TRANG CHỦ</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> LỊCH SỬ ĐĂNG NHẬP</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="buster-light">
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="user-information">
                        <div class="user-img">
                            <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        </div>
                        <div class="user-fav">
                            <p>Chi tiết tài khoản</p>
                            <ul>
                                <li class="active"><a href="userprofile_light.html">thông tin</a></li>
                                <li class="active"><a href="userhistory_light.html">lịch sử đăng nhập</a></li>
                                <li class="active"><a href="userhistory_light.html">lịch sử mua vé</a></li>

                            </ul>
                        </div>
                        <div class="user-fav">
                            <p>Khác</p>
                            <ul>
                                <li><a href="changepass.html">Thay đổi mật khẩu </a></li>
                                <li><a href="#">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="form-style-1 user-pro" action="#">
                        <form action="#" class="user">
                            <div class="border-detail">
                                <div>
                                    <div class="row">
                                        <div class="col-md-6 form-it">
                                            <div class=img-ticketDetail>
                                                <img src="images/uploads/z5384775704191_afe8e24495759a9d068061b836663c47.jpg" alt="" width="70%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <div class="iform-ticketDetail">
                                            <p>Mã đặt vé:</p>
                                            <h5>WXFD9H4</h5>
                                            <p>thời gian:</p>
                                            <p><b>20:15-22:15</b></p>
                                            <h6>Thứ 7, 09/09/2024</h6>
                                            <p><b>đưa mã này cho nhân viên soát vé</b></p>
                                        </div>
                                    </div>
                                    <!-- <div class="QR-code">
                                        <img src="images/uploads/maQR.png" alt="QR">
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-4 form-it">
                                        <div class="iform-ticketDetail">
                                            <p>Phòng Chiếu:</p>
                                            <h5>Screen 5</h5>

                                        </div>
                                    </div>
                                    <div class="col-md-4 form-it">
                                        <div class="iform-ticketDetail">
                                            <p>Số vé</p>
                                            <h5>02</h5>

                                        </div>
                                    </div>
                                    <div class="col-md-4 form-it">
                                        <div class="iform-ticketDetail">
                                            <p>Số ghế</p>
                                            <h5>C08,C09</h5>
                                        </div>
                                    </div>

                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <div class="iform-ticketDetail">
                                            <p><b style="font-size: 40px;">Rạp chiếu</b></p>
                                            <h5>TITAINS CINEMA</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <div class="iform-ticketDetail">
                                            <p><b>Tổng Tiền</b></p>
                                            <p><b>Mã giao dịch</b></p>
                                            <p><b>Thòi gian giao dịch</b></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <div class="iform-ticketDetail">
                                            <h3>150.000đ</h3>
                                            <p style="color: rgb(43, 116, 116);">54608664777</p>
                                            <p>18:32 - 09/03/2024</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
