@using WebApplication1.Models;
@model WebApplication1.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="~/Asset/image/logos/favicon.png" />
    <link href="~/Asset/Lib/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Asset/Css/styleLogin.css" rel="stylesheet" />
    <style>
        .nav_link {
            text-decoration: none;
            color: rgb(33, 37, 41);
            font-size: 13px;
            opacity: 0.7;
        }

            .nav_link:hover {
                color: red;
            }

        .btn_code {
            float: right;
            padding: 6px;
            margin-top: 8px;
            margin-right: 16px;
            background: #ddd;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="main">
        <form action="" method="post" class="form" id="form-1">
            <h3 class="heading">Lấy lại mật khẩu</h3>
            <p class="desc">Titans Cinema</p>

            <div class="spacer"></div>

            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input id="email" name="email" type="text" placeholder="VD: email@domain.com" class="form-control" disabled>
            </div>

            <div class="form-group">
                <label for="code" class="form-label">Mã xác nhận</label>
                <input id="code" name="code" type="password" placeholder="Nhập mã xác nhập" class="form-control">
                <span class="form-message"></span>
            </div>

            <a href="@Url.Action("Login","Account")" class="nav_link" style="float:right;padding-right:5px;">Đăng nhập</a>
            <button class="form-submit">Xác nhận</button>
        </form>
    </div>
</body>
</html>
